{% extends "./blog/base.html" %}

{% block title %}
    轻松益家知识管理系统
{% endblock %}

{% block main %}
    <div class="row">
        <div id="container-blog" style="margin-top:20%">

            <div class="home-post well clearfix">
              
                
                <div class="post-content" style="text-align: center;">
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="color:red;font-size: 28px">
                                提示：请联系管理员或作者，获取有效的文档查阅路径！
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}