{% extends './admin/base.html' %}

{% block js %}

{% endblock %}

{% block css %}

{% endblock %}

{% block main %}

    <!-- BEGIN PAGE CONTAINER-->

    <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                <h3 class="page-title">

                    欢迎使用

                    <small>轻松老板知识管理系统</small>

                </h3>


                <!-- END PAGE TITLE & BREADCRUMB-->

            </div>

        </div>

        <!-- END PAGE HEADER-->

        <div class="row-fluid">

            <div class="span12">

            </div>
        </div>

    </div>
   

{% endblock %}